<div class="city-journey-card" data-edit-journey-target="card" data-controller="activity">
  <%= image_tag("#{city_journey.city.name}.jpg", class: "city-card-picture") %>
  <div class="city-journey-info <%= "d-none" if city_journey.errors.any? %>" data-edit-journey-target="infos">
    <div class="city-journey-title-dates">
    <div class="city-journey-title">
      <h4><%= city_journey.city.name %></h4>
      <button class="edit-btn" aria-label="Edit stop" data-action="click->edit-journey#displayForm" data-index="<%= index %>">
        <i data-index="<%= index %>" class="fa fa-pencil-square" aria-hidden="true"></i>
      </button>
    </div>
      <p><%= "#{city_journey.start_date.strftime("%a %d %B")} to #{city_journey.end_date.strftime("%a %d %B")}" %> </p>
    </div>
    <div class="activities-cont">
    <h5>Things to do</h5>
      <% city_journey.city.activities.each_with_index do |activity, i| %>
        <strong class="act-name-arrow" data-index="<%=i%>" data-action="click->activity#showDescription">
          <%= activity.name %>
          <i class="fa fa-caret-down show-act-desc-sym" data-activity-target="symbol" data-index="<%=i%>" aria-hidden="true"></i>
        </strong>
        <div class="act-desc" data-activity-target="activity">
          <%="#{activity.description}"%>
        </div>
      <% end %>
    </div>
  </div>
  <%= simple_form_for city_journey,
    html: {
      class: city_journey.errors.any? ? "" : "d-none",
      data: {
        edit_journey_target: "form",
        action: "submit->edit-journey#update",
        index: index,
        controller: 'flatpickr'
      }
    } do |f|
  %>
    <div class="cj-form-container">
      <div id="edit-cj-date">
        <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
        <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" } } %>
      </div>
      <div id="city-drpdwn">
        <%= f.association :city, collection: City.order("name") %>
      </div>
      <%= f.submit "Update journey", class: "btn update-cj-button" %>
    </div>
  <% end %>
</div>
